<!-- <input type="text" [(ngModel)]="value" #adduser/> {{value}} -->
<!-- <button (click)="useradd(adduser.value)">Add</button> -->
<!-- <h1 *ngIf="show" [ngClass]="">hello</h1> -->
<h2>hello</h2>
<app-lifecycle></app-lifecycle>
<!-- {{'aslam' | newpipe:'ahamed' }}
<div *ngFor="let user of users">
    {{user.name}}
</div> -->
<!-- <div>{{jsonData | async | json }}</div> -->
<!-- <div>{{tenseconds$ | async}}</div> -->
<!-- <encapusulation-emulated></encapusulation-emulated>
<encapusulation-shadow></encapusulation-shadow>
<encapusulation-none></encapusulation-none>
 -->
<!-- <app-lifecycle (click)="showcontrol()" aslam ="{{title}}" test="test"></app-lifecycle> -->
<!-- <h1 [ngClass]="showcontrol ? 'hello' : ''"></h1> -->
<!-- <div class="my_class" (click)="clickEvent($event)" ngClass="{'active': toggle}">
    Some content
</div> -->

<!-- <div [ngClass]="isSpecial ? 'special' : ''">This div is special</div> -->